
header {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 20px;
    grid-column: 2/3;
}

body {  background-image: url(/1233893-free-star-wars-1080p-hd-wallpaper-1920x1080.jpg); } 

nav > a {
    margin: 1% 1% 3%;
    height: 20px;
    width: 120px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: dimgray;
    padding: 15px;
    text-align: center;
    border: 2px solid silver;
    text-decoration: none;
}

.has-border {
    border-radius: 50px;
    border: 5px solid #0795C3;
    background: none;
    padding: 5px;
}

.box {
    display: flex;
    width: 900px;
    height: 2500px;
    background-color: #cdf2ff72;
    margin: 20px auto;
    border: solid #1eff00;
    border-radius: 100px;
}


.grid_container {
    display: grid;
    grid-template-columns: 900px;
    grid-row: 900px;
    grid-row-gap: 10px;
    height: 2000px;
    width: 900px;
}

.name {
    grid-row: 2 / 1;
    grid-column: 1 / 2;
    width: 300px;
    height: 300px;
    margin-top: 10%;
    margin-left: 50%;
    margin-right: 10%;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: #00FF00;
    letter-spacing: 5px;
    text-shadow: 10px 10px 25px rgb(81,67,21),
    -10px 10px 25px rgb(81,67,21),
    -10px -10px 25px rgb(81,67,21),
    10px -10px 25px rgb(81,67,21);    
    
}

.ittle {
    
    font-size: 24px;
    margin-top: 250px;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 90px;
    margin-bottom: 20px;
    margin-right: 90px;
    border-style: double;
    text-align: center;
    -ms-flex-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: #00FF00;
    letter-spacing: 5px;
    text-shadow: 10px 10px 25px rgb(81,67,21),
    -10px 10px 25px rgb(81,67,21),
    -10px -10px 25px rgb(81,67,21),
    10px -10px 25px rgb(81,67,21);  

    
}

.skills{
    text-align: center;
    font-size: 30px;
    border-bottom-style: solid;
    border-radius: 50px;
    font-family: 'Nunito Sans', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: #00FF00;
    letter-spacing: 5px;
    text-shadow: 10px 10px 25px rgb(81,67,21),
    -10px 10px 25px rgb(81,67,21),
    -10px -10px 25px rgb(81,67,21),
    10px -10px 25px rgb(81,67,21);  
    

}

.Experience {
    margin-top: 30px;
    margin-bottom: 300px;
    font-size: 30px;
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 480px;
    font-family: 'Ubuntu', sans-serif;
    color: #00FF00;
    letter-spacing: 5px;
    text-shadow: 10px 10px 25px rgb(81,67,21),
    -10px 10px 25px rgb(81,67,21),
    -10px -10px 25px rgb(81,67,21),
    10px -10px 25px rgb(81,67,21); 
    border-style: double; 
    border-radius: 10px;
}

.Accolades{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 80px;
    margin-left: 50%;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: #00FF00;
    letter-spacing: 5px;
    text-shadow: 10px 10px 25px rgb(81,67,21),
    -10px 10px 25px rgb(81,67,21),
    -10px -10px 25px rgb(81,67,21),
    10px -10px 25px rgb(81,67,21); 
    border-style: double;
    border-radius: 10px;
}

.logo {
    width: auto;
    height: 200px;
    margin: 3% 10%;
  }

nav >:hover {
    color: green;
    opacity: .7;
    cursor: pointer;
}

.contact_column > h4 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    position:relative; top:-900px;
    margin-left: 100px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: #32CD32;
    letter-spacing: 5px;
    text-shadow: 10px 10px 25px rgb(81,67,21),
      -10px 10px 25px rgb(81,67,21),
      -10px -10px 25px rgb(81,67,21),
      10px -10px 25px rgb(81,67,21);
    
} 

.contact_item {
    padding: 70px;
    font-size: 20px;
    margin-left: 7%;
    position:relative; top:-900px;
    border-left-style: groove;
    border-color: lawngreen;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: #00FF00;
    letter-spacing: 5px;
    text-shadow: 10px 10px 25px rgb(81,67,21),
    -10px 10px 25px rgb(81,67,21),
    -10px -10px 25px rgb(81,67,21),
    10px -10px 25px rgb(81,67,21);
    

}   

.contact_item span {
    font-size: 20px;

}

.contact_column img {
    color: rgb(23, 252, 23);
    width: 150px;
}   
  
.pic {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 4%;
    margin-top: 3%;
    border-radius: 50px;
    background: #222;	
	background: linear-gradient(rgb(34, 60, 31), rgb(20, 167, 20));	
	border-radius: 5px 0 0 5px;
    box-shadow: 0 2px 0 rgb(30, 255, 0);
    border-style: double;
    
    
}

.grid:after {
    content: "";
    display: table;
    clear: both;
  }

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    background-color: #121212;
}
  
p {
    margin: 40px auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: #CFC547;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 10px 10px 25px rgb(81,67,21),
      -10px 10px 25px rgb(81,67,21),
      -10px -10px 25px rgb(81,67,21),
      10px -10px 25px rgb(81,67,21);
}